<div class="center jumbotron">
  <h1>つぶやきアプリ</h1>
  <h2>つぶやきアプリへようこそ！こちらは
    <a href="https://railstutorial.jp/">Rails Tutorial</a>
    を参考にしています。
    <h2>

      <%= link_to "新規登録はこちら！" , signup_path , class: "btn btn-lg btn-primary"%>
</div>

<%= link_to image_tag("rails.png" , alt:"Rails logo"), 'http://rubyonrails.org/'%>
